<mat-card class="m-2 p-2">
  <mat-card-content>
    <div class="flex flex-col space-y-2">
      <h1 class="text-3xl font-bold">Welcome to PhaserScript</h1>
      <p>Create amazing web and mobile apps with Phaser, Angular, Nest, and
        NativeScript.</p>
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile colspan="1" rowspan="1"
                       class="phaser-tile text-center rounded-tl-md">Phaser (gaming)
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"
                       class="angular-tile text-center">Angular (front-end web)
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"
                       class="nest-tile text-center">Nest (back-end web)
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"
                       class="nativescript-tile text-center rounded-tr-md">NativeScript (mobile)
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1"
                       class="nx-tile text-center rounded-b-md">Nx (monorepo)
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-2 p-2">
  <mat-card-content>
    <div class="flex flex-col space-y-2">
      <h2 class="text-xl font-bold">Our Games</h2>
      <p>We're proud to bring you high-quality web and mobile games. Check out
        our games page to try them out.</p>
      <button mat-raised-button color="primary" routerLink="/games">Explore
        Games
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-2 p-2">
  <mat-card-content>
    <div class="flex flex-col space-y-2">
      <h2 class="text-xl font-bold">About PhaserScript</h2>
      <p>PhaserScript is a new studio focused on creating engaging web and
        mobile apps.</p>
      <button mat-raised-button color="accent" routerLink="/about">Learn More
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-2 p-2">
  <mat-card-content>
    <div class="flex flex-col space-y-2">
      <h2 class="text-xl font-bold">Contact us</h2>
      <button mat-raised-button color="warn" routerLink="/contact">Contact Us
      </button>
    </div>
  </mat-card-content>
</mat-card>
