.banner {
  height: 60vh;
  background: url('https://material.angular.io/assets/img/examples/shiba2.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 50px;

  .title {
    font-size: 3em;
    margin-bottom: 0;
  }

  .tagline {
    font-size: 1.5em;
  }
}

.about-section {
  padding: 50px;
  text-align: center;

  h2 {
    margin-top: 40px;
  }
}

.contact-section {
  padding: 50px;
  text-align: center;
}
